.auth-container {
  width: 100%;
  height: 100vh;  
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.auth-image {
  display: none;
  background: rgba(113, 177, 202, 0.05) url('doctors.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
  
}

.auth-title {
  color: #334155;
  font-size: 32px;
  font-weight: 600;
  margin: 24px 0;
}

label {
  display: block;
  color: #334155;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
  margin: 0 0 4px;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #334155;
  padding: 12px;
  margin-bottom: 12px;
  border: 0.5px solid #64748b;
  border-radius: 6px;
}

input[type="submit"] {
  background: #8DE801;
  color: #fff;
  border: none;
}

.auth-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.auth-info-wrapper span {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #64748b;
}

@media only screen and (min-width: 768px) {
  .auth-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .auth-image {
    display: block;
  }
  
  .auth-form-container {
    margin: 24px 25% 24px 44px;
  }
}