.nav-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 5vh;
  padding-inline: 10px;
  width: 25vh;
}

.menu-icon {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 32px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-bar img {
  width: 100px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navigation {
    width: 70vh;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

  .show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.nav-bar li {
  margin: 15px;
}

.nav-bar a {
  font-weight: 500;
  color: #000;
}
