/* text color main: #334155
text color dark: #0f172a
text color light: #64748b */

.consultation-container {
  padding: 24px;
}

.list-container {
  max-width: 750px;
  margin: 44px auto;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 0.5px solid #64748b;
  border-radius: 24px;
  margin-bottom: 12px;
  padding: 24px;
}

.consultation-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  color: #334155;
}

.consultation-type,
.consultation-date,
.consultation-location {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #334155;
  margin: 4px 0;
}

.consultation-type i,
.consultation-date i,
.consultation-location i {
  margin-right: 6px;
}